/* .App {
  text-align: center;
} */

.app {
    height: 100vh;
    overflow-y: scroll;
}

.app-header {
  margin-top: 5px;
}


.shop-items-conteiner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.cart-items-conteiner {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.shop-col {
  height: '90vh';
  border: 'solid';
  overflow: 'auto';
}
